# code: language=shellscript insertSpaces=true tabSize=2
# shellcheck disable=SC2148
export VIRTUAL_ENV=.venv
layout python3

echo '*' > "$PWD/.venv/.gitignore"

if test -f "$PWD/requirements.txt" && test "$PWD/.venv/.requirements.txt" -ot "$PWD/requirements.txt"; then
  watch_file "$PWD/requirements.txt"
  touch "$PWD/.venv/.requirements.txt"
fi

if ! test -f "$PWD/.venv/.pre-commit-installed"; then
  pip install -U pre-commit
  pre-commit install
  touch "$PWD/.venv/.pre-commit-installed"
fi

dotenv_if_exists .env
