<Project Sdk="{{projectSdk}}">
  <PropertyGroup>
    <Description>{{packageDescription}}{{^packageDescription}}{{packageName}}{{/packageDescription}}</Description>
    {{#packageCopyright}}<Copyright>{{.}}</Copyright>{{/packageCopyright}}
    {{#packageAuthors}}<Authors>{{.}}</Authors>{{/packageAuthors}}
    <TargetFramework>{{targetFramework}}</TargetFramework>
    <GenerateDocumentationFile>true</GenerateDocumentationFile>
    <PreserveCompilationContext>true</PreserveCompilationContext>
    {{#packageVersion}}<Version>{{.}}</Version>{{/packageVersion}}
{{#nullableReferenceTypes}}
    <Nullable>annotations</Nullable>
{{/nullableReferenceTypes}}
    <OutputType>Library</OutputType>
    <AssemblyName>{{packageName}}</AssemblyName>
    <PackageId>{{packageName}}</PackageId>
    <UserSecretsId>{{userSecretsGuid}}</UserSecretsId>
  </PropertyGroup>
  <ItemGroup>
{{#useSeparateModelProject}}
    <ProjectReference Include="../{{modelPackage}}/{{modelPackage}}.csproj"/>
{{/useSeparateModelProject}}
    <PackageReference Include="Microsoft.AspNetCore.App" />
{{^useSeparateModelProject}}
    <PackageReference Include="Microsoft.Extensions.Configuration.Json" Version="{{aspnetCoreVersion}}.0"/>
{{/useSeparateModelProject}}
    <PackageReference Include="JsonSubTypes" Version="1.8.0" />
  </ItemGroup>
  <ItemGroup>
    <!--<DotNetCliToolReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="{{aspnetCoreVersion}}.0" />-->
  </ItemGroup>
</Project>
