---
name: Pull Request

on:
  pull_request:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - id: build-project
        name: Build
        uses: ./.github/actions/maven-build
